body {
    background-color: rgba(183, 255, 227, 0.767);
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

p{
    font-size: 20pt;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-;
    margin: 60px;
    color:#726E6D 
}

h1{
    font-size: 45pt;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#625D5D
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    text-align: center;
    color: #625D5D
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    text-align: center;
}

.row{
    display: flex;
}

.column{
   flex: 33.33%;
}

ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20pt;
}


.topnav{
    background-color: blanchedalmond;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: rgb(52, 125, 128);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.topnav a:hover{
    background-color: aliceblue;
    color: black;
}

@media screen and (max-device-width: 60em) {
    /*.indexCSS {
        display: bgrid;
        grid-template-columns: 1fr;
}*/
}